
h1 {
  color:Grey;
}
h3 {
  color:Black;
}
h2{
  color:Purple;
}
body{
      background-color:Lavender;
    }
      p{
        color:Purple;
        text-align:right;
      }
      


  
  
  
  

  
